/* // delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

//use only the available space inside the 400x400 frame */
:root{
    --menu-speed: .75s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
    background-image: linear-gradient(to bottom left, rgb(190, 0, 255), rgba(255, 255, 0, 0.5));
    border-radius: 8px;
}

.bar-one, .bar-two, .bar-three{
    height: 10px;
    width: 100px;
    background-color: black;
    margin: 12px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(106, 101, 101, 0.661);
}
.icon{
    cursor: pointer;
}